.title {
  text-align: center;
  padding: 90px 90px 0 90px;
  text-decoration: wavy;
  color: rgb(100, 30, 8);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 100;
  font-size: xx-large;
}
.logo {
  border-radius: 80px;
  border: 2px solid black;
  width: 130px;
  height: 130px;
  padding: 5px;
}

.form {
  border-bottom: 1.4px solid black;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 400px;
}

.brands {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  padding-left: 38px;
  padding-bottom: 160px;
}

.img {
  width: 20vw;
  height: 100px;
}


.handmade{
    background-color: rgb(230, 219, 215);
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
}


h5 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h5:hover {
  /* text-decoration: underline; */
  transition: 0.5;
  cursor: pointer;
  font-weight: bold;
}

.haul {
  font-size: 70px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  line-height: 100%;
 
}
.handmade p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 21px;
  padding: 50px;
  padding-left: 0px;
}

.i123 {
  width: 25vw;
  height: 400px;
}

.i123:hover {
  opacity: 0.8;
  transition: 0.9;
  cursor: pointer;
}

.container {
  position: relative;
  text-align: center;

}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: 500;
  color: white;
  opacity: 0.7;
}

.centered:hover {
  cursor: pointer;
}
